/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2016, 12:09:42 PM
    Author     : user
*/


.title{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    font-size: 1.25em;
}

.divspace{
    padding-bottom: 25px;
}

td{
    vertical-align: top;
}

.contentspace{
    margin: 5px 20px;
}

a{
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}

.locationbank{
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.title_a{
    margin-top: 20px;
    text-align: center;
    font-size: 1.25em;
}
.title_b{
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
}

.bottomlinks{
    margin-left:auto;
    margin-right:auto;
}
.bottomlinks td{
    padding-left: 20px;
    padding-right: 20px;
}