/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2016, 12:09:42 PM
    Author     : user
*/

@font-face {
    font-family: title;
    src: url(../font/04B_30__.woff);
}

@font-face {
    font-family: button;
    src: url(../font/CharriotDeluxe.woff);
}

@font-face {
    font-family: selecttext;
    src: url(../font/alterebro-pixel-font.woff);
}

.right{
    float: right;
}

.title{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    font-size: 1.25em;
}

.divspace{
    padding-bottom: 25px;
}

td{
    vertical-align: top;
}

.contentspace{
    margin: 5px 20px;
}

a{
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}

.locationbank{
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.title_a{
    margin-top: 20px;
    text-align: center;
    font-size: 1.25em;
}
.title_b{
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
}

.bottomlinks{
    margin-left:auto;
    margin-right:auto;
}
.bottomlinks td{
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    display: block;
    background-color: rgb(243, 243, 243);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px #dadada solid;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 45px;
}

.titlebar{
    background-color: rgb(118, 150, 218);
    cursor: move;
}

.titlecenter{
    font-family: title;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2em;
    color: crimson;
}

.skinnybank{
    float: right;
    background-color: rgb(106, 127, 144);
    border: 1px rgb(106, 127, 144) solid;
    border-radius: 4px;
    border-radius: 4px;
}

 #objectholder{
    width: 130px;
    height: 500px;
    border: 2px rgb(165, 165, 165) solid;
    border-radius: 4px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.padlr{
    padding-left: 5px;
    padding-right: 5px;
}

#imageholder {
    width: 130px;
    height: 500px;
    background-image: url("../image/checker.png");
    border: 2px rgb(165, 165, 165) solid;
    border-radius: 4px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#imageholder img {
    width:100%;
    height:auto;
}

.imagetext{
    font-family: selecttext;
    font-size: 1.6em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imageid{
    width:60%;
    vertical-align:middle;
}

#graphical{
    display: inline-block;
    width: 100%;
}

.activity{
    float:left;
    border: 2px rgb(100,100,100) solid;
}

.authoractivity{
    border: 2px white solid;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
    margin-bottom: 5px;
    background-color: white;
}

#properties{
    width:100%;
    text-align: center;
}

#propertiestitle{
    width:100%;
    text-align: center;
}

.proptitle{
    width:99%;
    background-color: rgb(240,240,240);
    border: 2px black solid;
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
}

.propbody{
    text-align: left;
    margin: 10px 20px;
}

.auth_xy{
    display: table-cell;
    width:50px;
    background-color:rgb(191, 212, 211);
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 4px;
    border: 0px;
    border-top: 1px rgb(191, 212, 211) solid;
    border-bottom: 1px rgb(191, 212, 211) solid;
}

.auth_text{
    background-color:rgb(212, 218, 226);
    display: table-cell;
    width:150px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 4px;
    border: 0px;
    border-top: 1px rgb(212, 218, 226) solid;
    border-bottom: 1px rgb(212, 218, 226) solid;
}

.auth_rate{
    width:50px;
    background:rgb(191, 212, 211);
}

.divbutton{
    cursor: pointer;
    font-family: button;
    background-color: rgb(237, 255, 221);
    border: 1px black solid;
    border-radius: 3px;
    display: inline-block;
    padding: 4px;
    margin: 2px;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}

.divmenu{
    color: rgb(220,220,220);
    cursor: pointer;
    font-family: button;
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

.divmenu:hover{
    color: white;
}

.wintitle{
    font-family: button;
    color: white;
    font-size: 1.25em;
    display: inline-block;
    padding: 4px;
    margin: 2px;
}

.submenu{
    
}
.entrytitle{
    display: table-cell;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 0px;

}

.entrylabel{
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 0px;
    display: inline-block;
}

.c_entrytitle_pos{
    background-color:  rgb(191, 212, 211) ;
    border: 1px rgb(191, 212, 211) solid;
}

.c_entrytitle_text{
    background-color: rgb(204, 213, 239);
    border: 1px rgb(191, 212, 211) solid;
}

.c_entrylabel_pos{
    background-color: rgb(212, 226, 226);
    border: 1px rgb(191, 212, 211) solid;
}
.w50{
    width: 50px;
}
.w100{
    width: 100px;
}

.pos_holder{
    background-color: rgb(106, 127, 144);
    border: 1px rgb(106, 127, 144) solid;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 10px;
}
.pos_title{
    display: block;
    width: 100%;
    background-color: rgb(212, 226, 226);
    border-bottom: 1px black solid;
    padding: 2px 0px;
    text-indent: 4px;
}

.sellist{
    border: 0px;
    background: rgb(212, 209, 239);
    padding: 4px;
    width: 150px;
}

.checkbox{
    width: 29px;
    height: 29px;
    vertical-align: middle;
}

.clicktr{
    cursor: pointer;
    font-family: selecttext;
    font-size: 1.6em
}

.clicktr:hover{
    background-color: yellow;
}

#paste{
    border-radius: 4px;
}




#menu{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}


.sp_05{
    padding: 5px;
    display: inline;
}

.sp_10{
    padding: 10px;
    display: inline;
}